<!DOCTYPE html>
<html lang="ru">



<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

 
  <meta name="theme-color" content="#161b2e">
  <meta name="description" content="CSGORUN - Лучший сайт для заработка и апгрейда скинов">
  <title>Кейс No Money купить скины, цена, обмен кейсов</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index-f608fb18.css' %}">


</head>

<body>
  <div id="root"><svg class="sr-only" aria-hidden="true">
      <defs>
        <linearGradient id="gray-gradient" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="#b7c0e1"></stop>
          <stop offset="100%" stop-color="#ffffff"></stop>
        </linearGradient>
        <linearGradient id="blue-gradient" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="#a8bbff"></stop>
          <stop offset="100%" stop-color="#ffffff"></stop>
        </linearGradient>
        <linearGradient id="green-gradient" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="#4ecfd0"></stop>
          <stop offset="100%" stop-color="#a2feff"></stop>
        </linearGradient>
        <linearGradient id="primary-gradient" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="#ffc1ae"></stop>
          <stop offset="100%" stop-color="#d19494"></stop>
        </linearGradient>
      </defs>
    </svg>
    <div class="popover-backdrop">

    </div>
    <div class="pb-6 lg:pb-0 max-lg:has-[#sportsbook-iframe]:pb-0 " id="main-layout">
      <div class="contents items-start lg:flex">
        <div class="w-full px-2.5 pt-16 lg:pt-0 lg:px-5 lg:pb-5 relative">
          <header
            class="flex fixed lg:relative top-0 inset-x-0 lg:inset-auto z-10  pl-4 pr-2 lg:px-0 items-center pb-2 pt-2 lg:py-5 ">
            <a aria-label="Home" class="mr-auto lg:mr-3" href="https://csgoad.run/">
              <div class="mr-2.5 w-30 shrink-0 lg:w-40 relative pointer-events-none">
                <img
                  src="No Money_files/logo.svg" class="w-full" width="153" height="29"
                  alt="home">
                </div>
            </a>
            <button type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="radix-:rg:"
              data-state="closed"
              class="btn btn--green h-11 shrink-0 gap-2.5 lg:gap-3 rounded pl-3.5 lg:pl-4.5 pr-3 lg:pr-3.5 text-tiny font-bold  uppercase lg:h-12.5">Авторизация
              <div class="icon w-5.5 -mt-0.5 lg:-mt-1" style="mask-image: url(&quot;/svg/lock.svg&quot;);"></div>
              </button>
            </header>
          <div
            class="mx-auto w-full  min-h-[calc(100svh-10rem)] lg:min-h-[calc(100vh-7rem)] flex flex-col lg:w-[--container-w] [&amp;:has([data-inventory-sticky]:not([inert]))]:pb-[--inventory-h]">
            <ul
              class="lg:mb-5 grid w-full grid-cols-2 gap-2.5 sm:grid-cols-3 md:grid-cols-4 lg:h-18 lg:grid-cols-[repeat(var(--cols),minmax(0,1fr))]"
              style="--cols: 6;">
              <li class="odd:max-md:last:col-span-full relative"><a
                  class="group relative z-1 flex h-18 pt-0.5 flex-col justify-center overflow-hidden  rounded-xl bg-gradient-var-to-r pl-4.5 text-sm uppercase text-[#a6adcd] transition [--from:#212842] [--to:#2d3656] aria-pressed:text-[#c2dcfc]"
                  aria-pressed="false" href="https://csgoad.run/crash">
                  <div
                    class="absolute inset-0 -z-1 bg-gradient-var opacity-0 transition [--from:#3d76d1] [--to:#2756a280] group-aria-pressed:opacity-99">
                  </div>
                  <picture
                    class="absolute -z-1 rounded-inherit -mr-2.5 pointer-events-none saturate-50 transition group-hover:saturate-100 group-aria-pressed:saturate-100 inset-0">
                    <source srcset="No Money_files/crash-preview-sm.avif 1x"
                      type="image/avif">
                    <source srcset="No Money_files/crash-preview-sm.webp 1x"
                      type="image/webp"><img src="No Money_files/crash-preview-sm.webp"
                      alt="Crash" class="w-full h-full object-contain object-right" width="159" height="69">
                  </picture>
                  <div class="relative mb-0.5 text-tiny font-bold leading-none text-[#e6eeff]" translate="no">Crash
                  </div><span class="tabular-nums relative">15.52₽</span>
                </a></li>
              <li class="odd:max-md:last:col-span-full relative"><a
                  class="group relative z-1 flex h-18 pt-0.5 flex-col justify-center overflow-hidden  rounded-xl bg-gradient-var-to-r pl-4.5 text-sm uppercase text-[#a6adcd] transition [--from:#212842] [--to:#2d3656] aria-pressed:text-[#c2dcfc]"
                  aria-pressed="false" href="https://csgoad.run/double">
                  <div
                    class="absolute inset-0 -z-1 bg-gradient-var opacity-0 transition [--from:#3d76d1] [--to:#2756a280] group-aria-pressed:opacity-99">
                  </div>
                  <picture
                    class="absolute -z-1 rounded-inherit -mr-2.5 pointer-events-none saturate-50 transition group-hover:saturate-100 group-aria-pressed:saturate-100 inset-0">
                    <source srcset="No Money_files/double-preview-sm.avif 1x"
                      type="image/avif">
                    <source srcset="No Money_files/double-preview-sm.webp 1x"
                      type="image/webp"><img src="No Money_files/double-preview-sm.webp"
                      alt="Double" class="w-full h-full object-contain object-right" width="159" height="69">
                  </picture>
                  <div class="relative mb-0.5 text-tiny font-bold leading-none text-[#e6eeff]" translate="no">Double
                  </div><span class="tabular-nums relative">0.00₽</span>
                </a></li>
              <li class="odd:max-md:last:col-span-full relative"><a
                  class="group relative z-1 flex h-18 pt-0.5 flex-col justify-center overflow-hidden  rounded-xl bg-gradient-var-to-r pl-4.5 text-sm uppercase text-[#a6adcd] transition [--from:#212842] [--to:#2d3656] aria-pressed:text-[#c2dcfc]"
                  aria-pressed="false" href="https://csgoad.run/jackrun">
                  <div
                    class="absolute inset-0 -z-1 bg-gradient-var opacity-0 transition [--from:#3d76d1] [--to:#2756a280] group-aria-pressed:opacity-99">
                  </div>
                  <picture
                    class="absolute -z-1 rounded-inherit -mr-2.5 pointer-events-none saturate-50 transition group-hover:saturate-100 group-aria-pressed:saturate-100 inset-0">
                    <source srcset="No Money_files/jackrun-preview-sm.avif 1x"
                      type="image/avif">
                    <source srcset="No Money_files/jackrun-preview-sm.webp 1x"
                      type="image/webp"><img src="No Money_files/jackrun-preview-sm.webp"
                      alt="Jackrun" class="w-full h-full object-contain object-right" width="159" height="69">
                  </picture>
                  <div class="relative mb-0.5 text-tiny font-bold leading-none text-[#e6eeff]" translate="no">Jackrun
                  </div><span class="tabular-nums relative">0.00₽</span>
                </a></li>
              <li class="odd:max-md:last:col-span-full relative"><a
                  class="group relative z-1 flex h-18 pt-0.5 flex-col justify-center overflow-hidden  rounded-xl bg-gradient-var-to-r pl-4.5 text-sm uppercase text-[#a6adcd] transition [--from:#212842] [--to:#2d3656] aria-pressed:text-[#c2dcfc]"
                  aria-pressed="false" href="https://csgoad.run/rollrun">
                  <div
                    class="absolute inset-0 -z-1 bg-gradient-var opacity-0 transition [--from:#3d76d1] [--to:#2756a280] group-aria-pressed:opacity-99">
                  </div>
                  <picture
                    class="absolute -z-1 rounded-inherit -mr-2.5 pointer-events-none saturate-50 transition group-hover:saturate-100 group-aria-pressed:saturate-100 inset-0">
                    <source srcset="No Money_files/roolrun-preview-sm.avif 1x"
                      type="image/avif">
                    <source srcset="No Money_files/rollrun-preview-sm.webp 1x"
                      type="image/webp"><img src="No Money_files/rollrun-preview-sm.webp"
                      alt="Rollrun" class="w-full h-full object-contain object-right" width="159" height="69">
                  </picture>
                  <div class="relative mb-0.5 text-tiny font-bold leading-none text-[#e6eeff]" translate="no">Rollrun
                  </div><span class="tabular-nums relative">5.23₽</span>
                </a></li>
              <li class="odd:max-md:last:col-span-full relative"><a
                  class="group relative z-1 flex h-18 pt-0.5 flex-col justify-center overflow-hidden  rounded-xl bg-gradient-var-to-r pl-4.5 text-sm uppercase text-[#a6adcd] transition [--from:#212842] [--to:#2d3656] aria-pressed:text-[#c2dcfc]"
                  aria-pressed="false" href="http://localhost:8000">
                  <div
                    class="absolute inset-0 -z-1 bg-gradient-var opacity-0 transition [--from:#3d76d1] [--to:#2756a280] group-aria-pressed:opacity-99">
                  </div>
                  <picture
                    class="absolute -z-1 rounded-inherit -mr-2.5 pointer-events-none saturate-50 transition group-hover:saturate-100 group-aria-pressed:saturate-100 inset-0">
                    <source srcset="No Money_files/cases-preview-sm.avif 1x"
                      type="image/avif">
                    <source srcset="No Money_files/cases-preview-sm.webp 1x"
                      type="image/webp"><img src="No Money_files/cases-preview-sm.webp"
                      alt="Кейсы" class="w-full h-full object-contain object-right" width="159" height="69">
                  </picture>
                  <div class="relative mb-0.5 text-tiny font-bold leading-none text-[#e6eeff]" translate="no">Кейсы
                  </div>
                </a></li>
              <li class="odd:max-md:last:col-span-full relative"><a
                  class="group relative z-1 flex h-18 pt-0.5 flex-col justify-center overflow-hidden  rounded-xl bg-gradient-var-to-r pl-4.5 text-sm uppercase text-[#a6adcd] transition [--from:#212842] [--to:#2d3656] aria-pressed:text-[#c2dcfc]"
                  aria-pressed="false" href="https://csgoad.run/cases-battle">
                  <div
                    class="absolute inset-0 -z-1 bg-gradient-var opacity-0 transition [--from:#3d76d1] [--to:#2756a280] group-aria-pressed:opacity-99">
                  </div>
                  <picture
                    class="absolute -z-1 rounded-inherit -mr-2.5 pointer-events-none saturate-50 transition group-hover:saturate-100 group-aria-pressed:saturate-100 inset-0">
                    <source srcset="No Money_files/botgame-preview-sm.avif 1x"
                      type="image/avif">
                    <source srcset="No Money_files/botgame-preview-sm.webp 1x"
                      type="image/webp"><img src="static/No Money_files/botgame-preview-sm.webp"
                      alt="Кейсбатл" class="w-full h-full object-contain object-right" width="159" height="69">
                  </picture>
                  <div class="relative mb-0.5 text-tiny font-bold leading-none text-[#e6eeff]" translate="no">Кейсбатл
                  </div>
                </a></li>
            </ul>
            <div class="relative z-1 flex items-center overflow-hidden -mt-4 py-4">
              <div class="dots-ill  left-1/2 -top-6 opacity-20 -translate-x-1/2 -z-1  w-40 bg-[#6b8cc1]"></div><a
                class="btn aspect-square w-9 sm:w-10 self-center  rounded bg-[#242c48] text-[#a6adcd] transition-colors hover:text-white absolute  left-0"
                aria-label="Назад" title="Назад" href="/"><svg xmlns="http://www.w3.org/2000/svg"
                  width="10" height="8" viewBox="0 0 492 409.31" aria-hidden="true"
                  class="w-3 fill-current  -scale-x-100">
                  <path
                    d="m484.14,185.54L306.46,7.86c-5.07-5.07-11.83-7.86-19.04-7.86s-13.97,2.79-19.04,7.86l-16.13,16.14c-5.07,5.06-7.86,11.83-7.86,19.04s2.79,14.2,7.86,19.26l103.66,103.88H26.58c-14.85,0-26.58,11.62-26.58,26.48v22.81c0,14.85,11.73,27.65,26.58,27.65h330.5l-104.83,104.46c-5.07,5.07-7.86,11.65-7.86,18.86s2.79,13.88,7.86,18.95l16.13,16.08c5.07,5.07,11.83,7.84,19.04,7.84s13.97-2.8,19.04-7.87l177.68-177.68c5.08-5.09,7.88-11.88,7.86-19.1.02-7.24-2.78-14.04-7.86-19.12Z">
                  </path>
                </svg></a>
              <header class="section-header justify-center mx-auto px-12  text-center ">
                <h1 class="title z-3 relative">Кейс No Money</h1>
              </header>
            </div>
            <div
              class="h-[calc(8.75rem*var(--cols)+(.5rem*(var(--cols)-1)))] max-md:transition-all md:h-55 mb-4 grid grid-cols-1 md:grid-cols-[repeat(var(--cols),minmax(0,1fr))] gap-2 md:gap-4"
              style="--cols: 1;">
              <div class="h-35 md:h-55 relative bg-[#232c48] rounded-3xl overflow-hidden">
                <div class="flex w-full h-full overflow-hidden">
                  <div
                    class="absolute z-3 left-1/2 top-0 h-0.75 w-60 -translate-x-1/2 bg-[radial-gradient(circle_at_50%,#ffc8b3,#ffc8b336,transparent)]">
                  </div>
                  <div
                    class="absolute z-3 -top-4 left-1/2 aspect-square w-5 -translate-x-1/2 transform-gpu rounded-full bg-[#ff8255] [filter:blur(1rem)]">
                  </div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 10" width="15px" height="10px"
                    class="absolute z-3 left-1/2 -translate-x-1/2 fill-[#ffc8b3] top-0.5 w-4">
                    <path d="M0 0L15.1 6.60046e-07L8 10L0 0Z"></path>
                  </svg>
                  <div
                    class="flex w-full h-full pt-3 pb-2 md:py-5 overflow-hidden [mask-image:linear-gradient(90deg,#00000000,black_20%,black_80%,#00000000)]">
                    <div class="w-full flex">
                      <div id="roulette-container" class="flex w-full roulette-initial-state" style="width: 1200px;">

                        
                        {% for skin in skins %}
                          <div class="px-px [&amp;:not(.active)]:opacity-20 [.roulette-initial-state_&amp;]:opacity-100 shrink-0 transition-opacity h-full" data-index="{{ skin.rarity.index }}" style="width: 142px;">
                            <div class="drop text-center h-full aspect-auto w-25 md:w-35 bg-[#293252]" data-item-color="{{ skin.rarity.index }}">
                              <img src="{% static skin.path_to_icon %}" width="175" height="175" alt="">
                              <div class="drop__header max-md:top-2 max-md:inset-x-2">
                                <div class="drop__quality">{{ skin.quality.name }}</div>
                                <div class="drop__price">{{ skin.cost }}₽</div>
                              </div>
                              <div class="drop__footer max-md:bottom-1.5">
                                <div class="text-white">{{ skin.gun_name }}</div>
                                <div>{{ skin.name }}</div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                        

                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="bg-[#1e253d] gap-y-4 gap-x-2 py-4 md:py-0 md:h-25 flex flex-wrap justify-center sm:flex-nowrap sm:justify-between items-center rounded-3xl relative z-1">
              <div class="md:mx-auto order-first w-full flex justify-center sm:contents">
                <button type="button" id="rotate-button" class="btn btn--blue h-12.5 lg:h-14.5 gap-4 lg:gap-3 rounded-lg pl-4 sm:pl-5.5 pr-4 sm:pr-5 text-tiny font-bold uppercase justify-between lg:mt-0 md:min-w-53.5">
                  <span>Открыть</span>
                  <div class="text-sm lg:text-base flex items-center gap-2">0.69₽</div>
                </button>
              </div>
            </div>
            <script>
              document.getElementById('rotate-button').addEventListener('click', function() {
                var container = document.getElementById('roulette-container');
                var items = container.querySelectorAll('.drop');
                
                for (var i = items.length - 1; i >= 0; i--) {
                  container.appendChild(items[i]);
                }
              });
            </script>
            <section class="pt-4 lg:pt-6">
              <header class="section-header justify-center px-0 mb-4">
                <h2 class="title z-3 relative">Содержимое кейса</h2>
              </header>
              

{% block content %}
  <ul class="grid grid-cols-3 tiny:grid-cols-4 sm:grid-fill-30 lg:flex flex-wrap justify-center gap-1.5">
    {% for skin in skins %}
      <li class="lg:w-[10.35rem] lg:[&gt;*]:h-45">
        <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="{{ skin.rarity.index }}">
          <img src="{% static skin.path_to_icon %}" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="">
          <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
            <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
            <div class="relative h-full w-full">
              <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
                <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
                <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
              </svg>
            </div>
          </div>
          <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
            <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">{{ skin.quality.name }}</div>
            <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">{{ skin.cost }}₽</div>
          </div>
          <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
            <div class="text-white">{% if skin.is_statTrak %}StatTrak{%endif%}{{ skin.gun_name }}</div>
            <div>{{ skin.name }}</div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
            </section>
            <div data-inventory-sticky="true" inert=""
              class="fixed bottom-0 z-30  transition group inert:translate-y-full block w-[--container-w] [body:has(.chat-wrapper[data-state=closed])_&amp;]:hover:z-[71]">
              <section data-inventory=""
                class="flex grow h-full max-lg:h-[22rem] relative  flex-col lg:flex-row bg-[#1c233a] [.inventory-no-bg_&amp;]:bg-none lg:bg-[#1c233a] px-2.5 py-3.25 lg:min-h-0  lg:gap-5 rounded-3xl lg:p-5 [[data-inventory-sticky]_&amp;]:rounded-b-none transition-shadow [[data-inventory-sticky]:not([inert])_&amp;]:[box-shadow:0_-1rem_2rem_1rem_#161b2e] lg:h-[--inventory-h]">
                <div
                  class="absolute inset-0 z-3 flex flex-col items-center justify-center rounded-inherit  bg-gradient-var p-5 text-center backdrop-blur-[2px] [--to:transparent] [--from:#40bcd91a] inventory-mini:rounded-lg">
                  <div class="icon mb-2.5 w-6 bg-[#a2feff]" style="mask-image: url(&quot;/svg/lock.svg&quot;);"></div>
                  <div class="title mb-4">Инвентарь недоступен</div><button type="button" aria-haspopup="dialog"
                    aria-expanded="false" aria-controls="radix-:rj:" data-state="closed"
                    class="btn btn--green h-11 shrink-0 gap-2.5 lg:gap-3 rounded pl-3.5 lg:pl-4.5 pr-3 lg:pr-3.5 text-tiny font-bold  uppercase lg:h-12.5">Авторизация
                    <div class="icon w-5.5 -mt-0.5 lg:-mt-1" style="mask-image: url(&quot;/svg/lock.svg&quot;);"></div>
                    </button>
                  <div class="mt-3 text-nano uppercase text-[#a7e1e6]">Требуется авторизация</div>
                </div>
              </section>
              <div data-state="closed"
                class="absolute inset-x-0 bottom-[--inventory-h] pb-4 scroll-mt-5 lg:inventory-mini:w-[calc(var(--container-w)-20rem)] lg:inventory-mini:right-[19rem] lg:inventory-mini:left-auto lg:inventory-mini:top-[-5.125rem] lg:inventory-mini:bottom-auto"
                id="inventory-market">
                <div data-state="closed" id="radix-:r0:" hidden="" class="CollapsibleInventoryMarket" style=""></div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
      <div aria-hidden="true"
        class="fixed inset-0 z-20 cursor-auto bg-[#161b2e]/95 transition-all duration-75 invisible opacity-0 ease-out">
      </div>
    </div>
  </div>

</body>

</html>