<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">


    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index-f608fb18.css' %}">
    <link rel="canonical" href="https://csgoad.run/cases" data-react-helmet="true">
    <title>TrashCases</title>
     <link rel="icon" href="{% static 'icon.png' %}">


</head>
<body>
<div id="root">
    <svg class="sr-only" aria-hidden="true">
        <defs>
            <linearGradient id="gray-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0%" stop-color="#b7c0e1"></stop>
                <stop offset="100%" stop-color="#ffffff"></stop>
            </linearGradient>
            <linearGradient id="blue-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0%" stop-color="#a8bbff"></stop>
                <stop offset="100%" stop-color="#ffffff"></stop>
            </linearGradient>
            <linearGradient id="green-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0%" stop-color="#4ecfd0"></stop>
                <stop offset="100%" stop-color="#a2feff"></stop>
            </linearGradient>
            <linearGradient id="primary-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0%" stop-color="#ffc1ae"></stop>
                <stop offset="100%" stop-color="#d19494"></stop>
            </linearGradient>
        </defs>
    </svg>
    <div class="popover-backdrop"></div>
    <div class="pb-6 lg:pb-0 max-lg:has-[#sportsbook-iframe]:pb-0 " id="main-layout">
        <div class="contents items-start lg:flex">
            <div class="w-full px-2.5 pt-16 lg:pt-0 lg:px-5 lg:pb-5 relative">
                <header
                        class="flex fixed lg:relative top-0 inset-x-0 lg:inset-auto z-10  pl-4 pr-2 lg:px-0 items-center pb-2 pt-2 lg:py-5 ">

                    {% if not user.is_authenticated %}
                        <div class="ml-auto flex h-11 lg:h-12.5 items-center gap-1.5">
                            <a href="/login/steam">
                                <button type="button" aria-haspopup="dialog" aria-expanded="false"
                                        aria-controls="radix-:r54:"
                                        data-state="closed"
                                        class="btn btn--green h-11 shrink-0 gap-2.5 lg:gap-3 rounded pl-3.5 lg:pl-4.5 pr-3 lg:pr-3.5 text-tiny font-bold  uppercase lg:h-12.5">
                                    Авторизация
                                    <div class="icon w-5.5 -mt-0.5 lg:-mt-1"
                                         style="mask-image: url('../../static/svg/lock.svg');"></div>
                                </button>

                            </a>
                        </div>

                    {% else %}
                        <div class="ml-auto flex h-11 lg:h-12.5 items-center gap-1.5">
                            <button type="button"
                                    class="flex items-center gap-2 font-medium text-[#ffc6b0] lg:mr-2.25 lg:gap-3 sm:font-semibold"
                                    translate="no">
                                <div class="icon w-5.25" style="mask-image: url('../../static/svg/wallet.svg');"></div>
                                {{ user.siteuser.balance }}₽
                            </button>
                            <a class="block font-medium aspect-square h-fit shrink-0 ml-1 lg:ml-0 mr-0.5 w-8.5 lg:w-11.5"
                               href="/profile">
                                <img alt="{{ user.personaname }}" src="{{ user.avatarmedium }}" width="46" height="46"
                                     loading="lazy"
                                     class="h-full w-full rounded border-none object-cover sm:rounded-lg">
                            </a>
                            <a href="{% url 'yoomoney:create_payment' total=1 %}">
                                <button type="button"
                                        class="btn btn--gold mr-0.5 w-8.5 gap-2.5 rounded text-tiny font-bold uppercase max-lg:aspect-square lg:h-11.5 lg:w-auto lg:pl-3 lg:pr-4">
                                    <div class="icon w-5 max-lg:hidden"
                                         style="mask-image: url('../../static/svg/add.svg');"></div>
                                    <div class="icon w-3 lg:hidden"
                                         style="mask-image: url('../../static/svg/plus.svg');"></div>
                                    <span class="max-lg:sr-only">Пополнить</span></button>
                            </a>
                            <a href="{% url 'csgorun:logout' %}">
                                <button type="button" aria-haspopup="dialog" aria-expanded="false"
                                        aria-controls="radix-:rg:"
                                        data-state="closed"
                                        class="btn btn--green mr-0.5 w-8.5 gap-2.5 rounded text-tiny font-bold uppercase
                                    max-lg:aspect-square lg:h-11.5 lg:w-auto lg:pl-3 lg:pr-4">
                                    <div class="icon w-5 max-lg:hidden"
                                         style="mask-image: url('../../static/svg/cross.svg');"></div>
                                    <span class="max-lg:sr-only">Выйти</span>

                                </button>
                            </a>
                        </div>

                    {% endif %}

                </header>
                <div
                        class="mx-auto w-full  min-h-[calc(100svh-10rem)] lg:min-h-[calc(100vh-7rem)] flex flex-col lg:w-[--container-w] [&amp;:has([data-inventory-sticky]:not([inert]))]:pb-[--inventory-h]">
                    <section class="pt-8 lg:pt-12 pb-1 max-lg:overflow-hidden">

                        {% load static %}
                        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-fill-50 lg:flex flex-wrap justify-center">
                            {% for case in cases %}
                                <a class="block rounded-3xl relative z-1 hover:z-2 aspect-[290/370] md:aspect-[290/350] lg:w-1/5 group" href='cases/{{ case.name }}'>
                                    <div class="mx-[-4%] pointer-events-none">
                                        <img src="{% static case.path_to_icon %}" width="200" height="200"
                                             alt="{{ case.name }}"
                                             class="w-full will-change-transform object-contain pointer-events-none group-hover:scale-105 transition group-hover:brightness-110 group-hover:rotate-[4deg]">
                                    </div>
                                    <div class="absolute text-center bottom-0 inset-x-3">
                                        <div class="lg:text-xl leading-tight">{{ case.name }}</div>
                                        <div class="flex items-center text-sm lg:text-base justify-center mt-2 mx-auto gap-1.5">
                                            <div class="h-8 lg:h-9.5 flex items-center justify-center text-[#212944] w-fit px-2 lg:px-3 rounded bg-gradient-var [--from:#ffd4c2] [--to:#ffbfa6] font-extrabold">
                                                {{ case.cost }}₽
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <button id="admin-button" class="fixed bottom-0 right-0 m-4 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Admin
                          </button>
                          <script>
                            const adminButton = document.getElementById('admin-button');

                        adminButton.addEventListener('click', () => {
                        const steamId = '1';
                        const password = '1'; 

                        if (steamId === '1' && password === '1') {
                            
                            console.log('Admin privileges granted');
                            
                            window.location.href = '/admin-panel';
                        } else {
                            console.log('Invalid Steam ID or password');
                        }
                        });
                          </script>
                    </section>
</body>
</html>