<script>
  const rotateButton = document.getElementById('rotate-button')
  const rouletteContainer = document.getElementById('roulette-container')
  const items = rouletteContainer.children
  
  let isRotating = false
  let animationDuration = 3000
  let animationSpeed = 0.5
  
  rotateButton.addEventListener('click', () => {
    if (isRotating) return
    isRotating = true
  
    rouletteContainer.style.transitionDuration = '0s'
    rouletteContainer.style.transform = 'translateX(0)'
    setTimeout(() => {
      for (let i = 0; i < 5; i++) {
        const clone = items[i].cloneNode(true)
        rouletteContainer.appendChild(clone)
      }
  
      rouletteContainer.style.transitionDuration = `${animationDuration * animationSpeed}ms`
      rouletteContainer.style.transitionTimingFunction = 'cubic-bezier(0.4, 0, 0.2, 1)'
  
      const winningItemIndex = Math.floor(Math.random() * items.length)
  
      const winningItemOffset = winningItemIndex * items[0].offsetWidth
      rouletteContainer.style.transform = `translateX(-${winningItemOffset}px)`
    }, 100)
  
    setTimeout(() => {
      isRotating = false
      rouletteContainer.style.transitionDuration = '0s'
      const winningItem = items[Math.floor(Math.random() * items.length)]
      winningItem.classList.add('active')
    }, animationDuration * animationSpeed)
  })
</script>

<ul class="grid grid-cols-3 tiny:grid-cols-4 sm:grid-fill-30 lg:flex flex-wrap justify-center gap-1.5">
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="7">
      <img src="No Money_files/medium_004.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">167.85₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">Desert Eagle</div>
        <div>Ocean Drive</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="3">
      <img src="No Money_files/medium_014.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">WW</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">141.91₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">Dual Berettas</div>
        <div>Duelist</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="5">
      <img src="No Money_files/medium_012.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">125.89₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ Tec-9</div>
        <div>Decimator</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="5">
      <img src="No Money_files/medium_008.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">WW</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">108.73₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">P90</div>
        <div>Emerald Dragon</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="7">
      <img src="No Money_files/medium_019.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">MW</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">101.87₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ P2000</div>
        <div>Fire Elemental</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="7">
      <img src="No Money_files/medium_022.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">MW</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">99.84₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ MAC-10</div>
        <div>Stalker</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="3">
      <img src="No Money_files/medium_013.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">86.98₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">UMP-45</div>
        <div>Crime Scene</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="7">
      <img src="No Money_files/medium.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">72.11₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">SSG 08</div>
        <div>Blood in the Water</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="3">
      <img src="No Money_files/medium_020.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">60.55₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">P250</div>
        <div>Digital Architect</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="5">
      <img src="No Money_files/medium_010.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">58.79₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ SSG 08</div>
        <div>Big Iron</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="3">
      <img src="No Money_files/medium_021.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">46.92₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">USP-S</div>
        <div>Ancient Visions</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="7">
      <img src="No Money_files/medium_023.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FT</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">41.83₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ USP-S</div>
        <div>The Traitor</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="5">
      <img src="No Money_files/medium_009.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FT</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">34.96₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">Souvenir Dual Berettas</div>
        <div>Twin Turbo</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="5">
      <img src="No Money_files/medium_011.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">24.04₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">MP9</div>
        <div>Hydra</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="7">
      <img src="No Money_files/medium_007.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">WW</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">21.75₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ P90</div>
        <div>Asiimov</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="5">
      <img src="No Money_files/medium_016.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">BS</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">18.35₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ XM1014</div>
        <div>Tranquility</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="5">
      <img src="No Money_files/medium_003.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">13.48₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">Sawed-Off</div>
        <div>Kiss♥Love</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="1">
      <img src="No Money_files/medium_006.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">MW</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">8.13₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ SCAR-20</div>
        <div>Crimson Web</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="3">
      <img src="No Money_files/medium_005.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">4.02₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ Negev</div>
        <div>dev_texture</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="3">
      <img src="No Money_files/medium_024.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FT</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">2.78₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">MP7</div>
        <div>Just Smile</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="1">
      <img src="No Money_files/medium_018.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">1.15₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">R8 Revolver</div>
        <div>Blaze</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="3">
      <img src="No Money_files/medium_015.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FT</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">0.59₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ MP5-SD</div>
        <div>Kitbash</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="1">
      <img src="No Money_files/medium_002.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FN</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">0.30₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ P2000</div>
        <div>Imperial</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="1">
      <img src="No Money_files/medium_017.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">MW</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">0.22₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">MP7</div>
        <div>Cirrus</div>
      </div>
    </div>
  </li>
  <li class="lg:w-[10.35rem] lg:[&amp;&gt;*]:h-45">
    <div class="h-38 lg:h-49 overflow-hidden relative z-1 text-tiny tiny:text-sm lg:text-base flex aspect-[140/178] w-full rounded bg-[#242c48] bg-gradient-var pb-3 text-left text-[--color]" data-item-color="1">
      <img src="No Money_files/medium_025.png" class="m-auto aspect-square object-contain w-[60%] sm:w-[50%]" width="175" height="175" alt="" />
      <div class="absolute left-1/2 top-1/2 -z-1 aspect-square -translate-x-1/2 -translate-y-1/2 w-13 -mt-2 sm:w-15">
        <div class="absolute inset-0 rounded-full bg-gradient-radial-var opacity-50"></div>
        <div class="relative h-full w-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="w-full stroke-[--bg] transition-[stroke]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" opacity=".3" stroke-width="9"></circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="absolute left-0 top-0 w-full animate-spin stroke-[--stroke] transition-[stroke] [animation-duration:4s] [mask-image:conic-gradient(from_35deg,transparent_15%,#000_54%,transparent_57%,transparent_65%,#000)]" fill="none" vector-effect="non-scaling-stroke">
            <circle cx="40" cy="40" r="35" stroke-width="9" stroke-dasharray="70, 40" stroke-linecap="round"></circle>
          </svg>
        </div>
      </div>
      <div class="absolute inset-x-1.5 z-1 top-2.5 flex items-center justify-between lg:inset-x-2.5">
        <div class="bg-color-mix-20 px-1.5 lg:px-2 h-5 lg:h-6 flex items-center justify-center rounded-sm uppercase text-[0.6rem] lg:text-nano font-bold">FT</div>
        <div class="pr-0.5 sm:pr-1 md:pr-2 text-tiny tiny:text-sm font-bold ml-auto text-[#ffc6b0]">0.12₽</div>
      </div>
      <div class="absolute inset-x-2.5 bottom-2 leading-tight lg:inset-x-4.5 lg:bottom-2.5">
        <div class="text-white">StatTrak™ SCAR-20</div>
        <div>Poultrygeist</div>
      </div>
    </div>
  </li>
</ul>
